<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://kit.fontawesome.com/c95374d5c5.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
        

        <link rel="stylesheet" href="/css/styles.css">

        <title>Mercado Liebre</title>
</head>
<body>
        <header>
                <nav class="nav">
                        <!-- Logo -->
                        <div class="menu-superior">
                                <div class="logo-nav">
                                        <div class="logo-ml">
                                                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" ></a>
                                        </div>

                                        <div class="search-nav">
                                                <form action="">
                                                        <input type="text" placeholder="Buscar productos, marcas">
                                                <button class="boton-searchNav"><i class="fas fa-search"></i></button>  
                                                </form>
                                                
                                        </div> 
                                </div>
                                <div>
                                        <h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
                                </div>            

                        </div>

                        <div class="menu-descripcion">
                                <!-- barra de navegacion -->
                                <div>
                                <ul class="menu-navegacion"> 
                                        <li><a href="/">Ofertas</a></li>   
                                        <li><a href="/">Tiendas Oficiales</a></li> 
                                        <li><a href="/login">Vender</a></li>
                                        <li><a href="/">Ayuda</a></li>
                                </ul>
                                </div>
                                <div>
                                        <ul class="menu-usuario">
                                                <li><a href="/register">Creá tu cuenta<i class="fas fa-address-card"> </i></a></li>
                                                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                                                <li><a href="/login">Mis compras<i class="fas fa-shopping-basket"> </i></a></li>
                                        </ul>
                                </div>

                        </div>
                        <div class="menu">
                                <i class="fa fa-bars" aria-hidden="true"></i>

                        </div>
                </nav>
        </header>
                <div class="banner-home">
                        <img src="/img/img-home-banner.jpg" alt="Banner">        
                </div>
        <main>

                <section >
                        <h3 class="titulares">Basado en tu última visita</h3>
                        <div class="ultima-visita">
                                <div  class="caja-articulos">
                                        <div  >
                                                <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                                         
                                        </div>

                                        <div>

                                                <div class="inline-precios">
                                                        <i class="fas fa-truck camion"></i>
                                                                                                        
                                                        <p class="precios">$6.770</p>
                                                        <p class="descuentos">40% OFF</p>
                                                </div>
                                                <h2 class="descripciones">Cafetera Moulinex</h2>
                                        </div>
                                </div>
                                <div class="caja-articulos">
                                        <div >
                                                <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-cafetera-moulinex" >


                                        </div>
                                        <div>

                                                <div class="inline-precios">
                                                        <i class="fas fa-truck camion"></i>
                                                                                                 
                                                        <p class="precios">$70.500</p>
                                                        <p class="descuentos">10% OFF</p>
                                                </div>
                                                <h2 class="descripciones">Samsung Galaxy S10</h2>
                                        </div>
                                </div>
                                <div class="caja-articulos">
                                        <div >
                                                <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                                

                                        </div>
                                        <div>
                                                <div class="inline-precios">
                                                                                                                <i class="fas fa-truck camion"></i>
                                                        <p class="precios">$230.000</p>
                                                        <p class="descuentos">20% OFF</p>
                                                </div>
                                                <h2 class="descripciones">MacBook Pro 2019</h2>
                                        </div>
                                </div>
                                <div class="caja-articulos">
                                        <div >
                                                <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                                                

                                        </div>
                                        <div>
                                                <div class="inline-precios">
                                                                                                                <i class="fas fa-truck camion"></i>
                                                        <p class="precios">$23.200</p>
                                                        <p class="descuentos">5% OFF</p>
                                                </div>
                                                <h2 class="descripciones">SmartTv Samsung 43"</h2>
                                        </div>
                                </div>
                        </div>
                </section>
                <section>
                        <h3 class="titulares">Sección Ofertas</h3>
                        <div class="ofertas">
                                <div class="caja-articulos">
                                        <div >
                                                <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                      

                                        </div>
                                        <div>
                                                <div class="inline-precios">
                                                                                                                <i class="fas fa-truck camion"></i>
                                                        <p class="precios">$6.770</p>
                                                        <p class="descuentos">40% OFF</p>
                                                </div>
                                                <h2 class="descripciones">Cafetera Moulinex</h2>
                                        </div>
                                </div>
                                <div class="caja-articulos">
                                        <div >
                                                <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-cafetera-moulinex" >
                                            

                                        </div>
                                        <div>
                                                <div class="inline-precios">
                                                                                                                <i class="fas fa-truck camion"></i>
                                                        <p class="precios">$70.500</p>
                                                        <p class="descuentos">10% OFF</p>
                                                </div>
                                                <h2 class="descripciones">Samsung Galaxy S10</h2>
                                        </div>
                                </div>
                                <div class="caja-articulos">
                                        <div >
                                                <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                                        

                                        </div>
                                        <div>
                                                <div class="inline-precios">
                                                                                                             <i class="fas fa-truck camion"></i>
                                                        <p class="precios">$230.000</p>
                                                        <p class="descuentos">20% OFF</p>
                                                </div>
                                                <h2 class="descripciones">MacBook Pro 2019</h2>
                                        </div>
                                </div>
                                <div class="caja-articulos">
                                        <div >
                                                <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                                               

                                        </div>
                                        <div>
                                                <div class="inline-precios">
                                                                                                                <i class="fas fa-truck camion"></i>
                                                        <p class="precios">$23.200</p>
                                                        <p class="descuentos">5% OFF</p>
                                                </div>
                                                <h2 class="descripciones">SmartTv Samsung 43"</h2>
                                        </div>
                                </div>
                        </div>
                </section>

        </main>
        <footer>
                <div>
                        <div class="items-footer">
                                <i class="fas fa-credit-card"></i>
                                <h5>Pagá con tarjeta o en efectivo</h5>
                                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                                        puntos de pago. ¡Y siempre es seguro!</p>
                        </div>
                        <div class="items-footer">
                                <i class="fas fa-gift"></i>
                                <h5>Envío gratis desde $ 2.500</h5>
                                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                                        productos. Es un beneficio de Mercado Puntos.</p>
                        </div>
                        <div class="items-footer">
                                <i class="fas fa-user-shield"></i>
                                <h5>Seguridad, de principio a fin</h5>
                                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                        porque estás siempre protegid@.</p>
                        </div>

                </div>

                <div>
                        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
        </footer>
</body>
</html>